
@import "sass-inline-svg-data";

/// default color, if the inline-svg() mixin gets no color parameter
/// @type {color}
$SVG-COLOR: null !default;

/// defines whether the inline-svg() function returns only the data string or the url as well
/// @type {Boolean}
/// @example - all these examples return the same (valid) css/svg
/// 	$SVG-URL: true;
/// 	background-image: inline-svg("iconname", blue);
///
/// 	$SVG-URL: false;
/// 	background-image: url(inline-svg("iconname", blue));
///
/// 	$SVG-URL: false;
/// 	background-image: inline-svg("iconname", blue, $url: true);
///
/// 	$SVG-URL: true;
/// 	background-image: url(inline-svg("iconname", blue, $url:false));
$SVG-URL: true !default;

/// returns an uri-encoded color value
/// if possible, the color is reduced to rgb, otherwise rgba
/// @return {color} (uri-encoded)
@function uri-encode-color($color) {
  @if (alpha($color) != 1) {
    @return "rgba%28" + round(red($color)) + "%2C" + round(green($color)) + "%2C" + round(blue($color)) + "%2C" + (alpha($color)) + "%29";
  } @else {
    @return "rgb%28" + round(red($color)) + "%2C" + round(green($color)) + "%2C" + round(blue($color)) + "%29";
  }
}

@function inline-svg(
  $icon,
  $color: $SVG-COLOR,
  $fillcolor: $color,
  $strokecolor: $color,
  $url: $SVG-URL
) {
  $functionname: $icon;

  //some sanity checks
  @if (type-of($icon) != "string") {
    @warn "Could not find '#{$icon}', either the svg file does not exist or the name was mispelled.";
  } @else if (function-exists($functionname) == false) {
    @warn "Function '#{$icon}' does not exist.";
  } @else {
    @if (type-of($color) == "color") {
      $fillcolor: uri-encode-color($fillcolor);
      $strokecolor: uri-encode-color($strokecolor);
    } @else if ($color == null) {
      $fillcolor: null;
      $strokecolor: null;
    } @else {
      $fillcolor: uri-encode-color(#000);
      $strokecolor: uri-encode-color(#000);
      @warn "Color value is not valid, defaulting to #000. You can use 'null' to use the svg's original color";
    }

    //$uri-string: call($functionname, $fillcolor, $strokecolor);
    $uri-string: call(get-function($functionname), $fillcolor, $strokecolor);
    @if $url {
      @return url($uri-string);
    } @else {
      @return $uri-string;
    }
  }
}

@function svg-list($folder: null) {
  $iconlist: ();
  @each $key in map-keys($svg-map) {

    @if (map-get(map-get($svg-map, $key), 'folder') == $folder) {
      $iconlist: append($iconlist, unquote(map-get(map-get($svg-map, $key), 'name')));
    }
  }
  @return $iconlist;
}

@mixin inline-svg-icon(
  $icon,
  $color: $SVG-COLOR,
  $position: 0 50%,
  $size: 2rem 2rem,
  $repeat: no-repeat,
  $fillcolor: $color,
  $strokecolor: $color
) {
  background-image: inline-svg($icon, $color, $fillcolor, $strokecolor, $url: true);
  @if (type-of($repeat) == string) {
    $repeat: unquote($repeat);
  }
  @if (type-of($position) == string) {
    $position: unquote($position);
  }
  @if (type-of($size) == string) {
    $size: unquote($size);
  }
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}
