.pager {
  position: relative;
}

.pager__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  margin-top: 1rem;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba($borderColor, 0) 0%, rgba($borderColor, .9) 25%, rgba($borderColor, .9) 75%, rgba($borderColor, 0) 100%);
  }

  .pager__item {
    a {
      display: inline-block;
      padding: .25rem .625rem;
    }

    &.is-active {
      a {
        color: #fff;
        background: $notifyStatusBgDarker;
        border-radius: $border-radius;
      }
    }
  }
}

.pagination {
  text-align: center;
  position: relative;

  .nav-prev-text,
  .nav-next-text {
    display: none;
    visibility: hidden;

    @include media($tablet-portrait) {
      display: inline-block;
      visibility: visible;
    }
  }

  .page-numbers {

    &.current {
      color: var(--color);
      background: var(--link-secondary-color);
      border-radius: $border-radius;
    }

    &.placeholder,
    &.dots {
      color: lighten($base-font-color, 24);
    }
  }
}
