<article{{ attributes.addClass('post post_view_full') }}>
  <figure class="post__media featured-media">
    {{ content.field_imgadvice.0 }}
  </figure>

  <header class="post__header">
    <h1 class="post__title">{{ node.label }}</h1>
  </header>

  <div class="post__inner">
    <div{{ content_attributes.addClass('post__content') }}>
      {{ content.body.0 }}
    </div>
  </div>

  <aside class="post__aside-second">
    <div class="post__categories post-categories">
      <div class="post-categories__item">
        <h4>Категория:</h4>
        {{ content.field_kategoriya.0 }}
      </div>

      <div class="post-categories__item">
        <h4>Основной ингредиент:</h4>
        {% for key, item in content.field_osnovnoy_ingredient['#items'] %}
          {{ content.field_osnovnoy_ingredient[key] }}
        {% endfor %}
      </div>
    </div>

    {{ post_aside_second }}
  </aside>

  <aside class="post__aside-full">

  </aside>


</article>
