<article{{ attributes.addClass('post post_view_full') }} itemtype="http://schema.org/Recipe" itemscope="">
  <figure class="post__media featured-media">
    {{ content.field_img.0 }}

    {% set image_uri = content.field_img['#items'].entity.uri.value %}
    <meta itemprop="image" content="{{ file_url(node.field_img.entity.fileuri) }}"/>
  </figure>

  <header class="post__header">
    {% if display_submitted %}
      {% set createdDate = node.getCreatedTime|date('d.m.Y') %}
      <div{{ author_attributes.addClass('post__created') }} itemprop="author" itemscope=""
                                                            itemtype="http://schema.org/Person">

        <span itemprop="name">{{ author_name }}</span>
        <span class="post__date">{{ createdDate }}</span>
      </div>
    {% endif %}
    <h1 class="post__title" itemprop="name">{{ node.label }}</h1>
    {% set paragraphs = node.body.0.value|split('</p>') %}
    {% set firstParagraph = paragraphs|first ~ '</p>' %}
    {% set keywordsFromTerms = [] %}
    {% set keywordsFromTerms = keywordsFromTerms|merge([content.field_kategoriya[0]['#title']]) %}

    {% for key, item in content.field_osnovnoy_ingredient['#items'] %}
      {% set keywordsFromTerms = keywordsFromTerms|merge([content.field_osnovnoy_ingredient[key]['#title']]) %}
    {% endfor %}

    <meta itemprop="cookTime" content="PT30M"/>
    <meta itemprop="description" content="{{ firstParagraph|replace({"<p>": ""}) |replace({"</p>": ""}) }}"/>
    <meta itemprop="recipeCategory" content="{{ content.field_kategoriya[0]['#title'] }}">
    <meta itemprop="datePublished" content="{{ node.getCreatedTime|date('Y-m-d') }}">
    <meta itemprop="keywords" content="{{ keywordsFromTerms|join(', ') }}">
  </header>

  <section class="post__ingredients ingredient-list">
    <h2 class="ingredient-list__title">Ингредиенты</h2>
    <div class="ingredient-list__content">
      {{ node.field_rec_ingredients.0.value | replace({"li": "li itemprop='recipeIngredient'"}) | raw }}
    </div>
  </section>

  <div class="post__inner">
    <div{{ content_attributes.addClass('post__content') }}>
      {{ node.body.0.value | replace({"li": "li itemprop='recipeInstructions'"}) | raw }}
    </div>
  </div>

  <aside class="post__aside-second">
    <div class="post__categories post-categories">
      <div class="post-categories__item">
        <h4>Категория:</h4>
        {{ content.field_kategoriya.0 }}
      </div>

      <div class="post-categories__item">
        <h4>Основной ингредиент:</h4>
        {% for key, item in content.field_osnovnoy_ingredient['#items'] %}
          {{ content.field_osnovnoy_ingredient[key] }}
        {% endfor %}

      </div>
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1556967315698967"
            crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1556967315698967"
         data-ad-slot="1745599863"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {{ post_aside_second }}
  </aside>

  <aside class="post__aside-full">
    {{ post_aside_full }}
  </aside>


</article>
