.document {
  -webkit-text-size-adjust: none;
  font-size: 16px;

  @include media($tablet-landscape) {
    height: 100%;
  }
}

.document__body {
  font-family: $primaryFont;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-color);
  color: var(--color);
  text-size-adjust: 100%;

  @include media($phone-big) {
    font-size: 1.125rem;
  }
  @include media($tablet-landscape) {
    height: 100%;
    font-size: 1.25rem;
  }
}
