.search-results {
  h2 {
    @extend %headingH2;
  }
  li {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &__title {
    margin-bottom: .5rem;
    @extend %headingH3;
  }
  &__snippet {
    strong {
      background: var(--link-secondary-color);
      color: var(--inverse-color);
    }
  }
  &__footer {
    margin-top: 1rem;
    @extend %small-text;
  }
}
