.ingredient-list {
  &__title {
    margin-bottom: .5rem;
    @extend %headingH3;
  }

  ul {
    list-style: none;
    font-size: 1.25rem;

    + p {
      margin-top: 1rem;
      margin-bottom: .25rem !important;
    }

    li {
      padding-left: 2.25rem;
      position: relative;

      &:not(:last-child) {
        margin-bottom: .25rem;
      }

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: var(--link-color);
        left: .625rem;
        top: .5rem;
        border-radius: 50%;
      }
    }
  }
}
