.post {
  font-family: $secondaryFont;

  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &.selected {
    grid-column: -3 / -1;
  }

  &__media {
    img {
      display: block;
      max-width: 100%;
      height: auto !important;
      width: 100% !important;
    }
  }

  &__inner {
    ol {
      margin: 2rem 0;
      counter-reset: list;

      li {
        position: relative;
        padding-left: 2.25rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &::before {
          counter-increment: list;
          content: counter(list);
          width: 1.75rem;
          line-height: 1.75rem;
          position: absolute;
          left: 0;
          background: var(--highlight-primary-color);
          border-radius: 50%;
          text-align: center;
          top: -.15rem;
        }
      }
    }
  }
}
