.post_view_full {
  grid-row-gap: $gapLg;
  display: grid;
  grid-template-areas: 'header header header header header header' 'img img img img img img' 'ing ing ing ing ing ing' 'content content content content content content' 'aside-second aside-second aside-second aside-second aside-second aside-second' 'post-full post-full post-full post-full post-full post-full';
  padding-left: 0;
  padding-right: 0;

  @extend %grid;


  @include media($tablet-landscape) {
    grid-template-areas: 'img img img img img img header header header header header header' 'img img img img img img ing ing ing ing ing ing' 'img img img img img img . . . . . .' 'content content content content content content content content . aside-second aside-second aside-second' 'post-full post-full post-full post-full post-full post-full post-full post-full post-full post-full post-full post-full';
  }
  @include media($desktop) {
    grid-template-areas: 'img img img img img img header header header header header header' 'img img img img img img ing ing ing ing ing ing' 'img img img img img img . . . . . .' ' . content content content content content content content . aside-second aside-second aside-second' 'post-full post-full post-full post-full post-full post-full post-full post-full post-full post-full post-full post-full';
  }

  .post__media {
    grid-area: img;
  }

  .post__header {
    grid-area: header;
  }

  .post__title {
    @extend %headingH1;
  }

  .post__ingredients {
    grid-area: ing;
  }

  .post__inner {
    grid-area: content;
  }

  .post__aside-second {
    grid-area: aside-second;
  }

  .post__aside-full {
    grid-area: post-full;
  }

  .post__content {
    font-size: 1.25rem;
    line-height: 1.75rem;

    @include media($desktop) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .post-meta-single {
    margin-bottom: 0;
  }

  .post__created {
    display: flex;
    justify-content: space-between;
    position: relative;
    @extend %small-text;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background: var(--border-color);
      left: 0;
      right: 0;
      top: 50%;
    }

    > span {
      padding: .2rem .5rem;
      background: var(--bg-color);
      position: relative;
      z-index: 1;
    }
  }

  .post__date {
    border-radius: 20px;
    border: 1px solid var(--border-color);
  }
}
