.post__categories {
  background: var(--highlight-primary-color);
  padding: 1rem;
  border-top: 4px solid $notifyMessageBgDark;
  border-radius: $border-radius;
}

.post-categories {
  &__item {
    &:not(:last-child) {
      margin-bottom: 1.625rem;
    }
  }

  h4 {
    @extend %headingH4;
    margin-bottom: .25rem;
  }

  a {
    color: var(--link-secondary-color);

    &:hover {
      text-decoration: underline;
    }
  }
}
