.post_view_preview {
  position: relative;
  align-self: start;

  &:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color);

    @include media($phone-large) {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .post__created {
    position: absolute;
    top: 0;
    border-radius: $border-radius 0 $border-radius 0;
    background: $colorPrimary;
    padding: 0 .25rem;
    color: $colorWhite;
    pointer-events: none;
    @extend %small-text;
  }

  .post__edit-link {
    a {
      display: block;
      position: relative;
      z-index: 20;
      padding: 4px 8px;
      text-align: center;
      font-family: $primaryFont;
      margin-bottom: 1rem;

      @extend %buttonPrimary;
    }
  }

  &.rec_cat-best {
    &::before {
      content: '';
      left: -12px;
      top: -12px;
      right: -12px;
      bottom: -4px;
      position: absolute;
      border: 4px solid $notifyMessageBgDark;
      z-index: -1;
      border-radius: $border-radius*2;
    }

    .post__title {
      a {
        color: darken($notifyMessageBgDark, 32);
      }
    }
  }

  .post__media {
    margin-bottom: .625rem;
    border-radius: $border-radius;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 66.66667%;
    position: relative;

    picture {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100% !important;
    }
  }

  .post__title {
    margin-bottom: .625rem;
    font: 700 1.5rem/2rem $primaryFont;

    a {
      text-decoration: none;
      color: var(--link-color);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
