.related-receipt {
  padding: 1rem 0 0;

  &__title {
    @extend %headingH2;
    @extend %decoratingHeader;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include media($tablet-landscape) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
      @include media($tablet-landscape) {
        margin-bottom: 0;
      }
    }

    @include media($tablet-landscape) {
      flex: 0 0 19%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: center;
    }
  }

  &__media {
    img {
      max-width: 80px;
      height: auto;
      display: block;
      margin-right: .5rem;

      @include media($phone-large) {
        max-width: 120px;
      }
      @include media($tablet-landscape) {
        max-width: 100%;
        margin-right: 0;
      }
    }
  }

  &__item-title {
    @include media($tablet-landscape) {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(#000, .625);
      transition: background-color .2s;

      &:hover {
        background: rgba(#000, .4);
      }
    }
  }

  a {
    @include media($tablet-landscape) {
      color: #fff;
      z-index: 20;
      text-align: center;
      padding: .5rem 1rem;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
      }
    }
  }
}
