.related-advice {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: $border-radius;

  &__title {
    margin-bottom: .5rem;
    @extend %headingH4;
    @extend %decoratingHeader;
  }
  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: .625rem;
    }
  }
  &__image {
    display: block;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    margin-right: .625rem;
    overflow: hidden;
    border-radius: $border-radius;
  }
  a {
    color: var(--link-secondary-color);
  }
}
