.node-revision-table {
  width: 100%;

  th,
  td {
    padding: .5rem;
    text-align: left;
  }

  th {
    background: $p-color-lighten;
    border-bottom: 1px solid darken($p-color-lighten, 8);
  }

  td {
    border-bottom: 1px solid var(--border-color);
  }
}
