.form-textarea {
  border-radius: $border-radius;
  position: relative;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: $formFieldPdgVertical $formFieldPdgHorizontal;
  font-family: inherit;
  font-size: $formFieldTextSize;
  background: var(--bg-color);
  color: var(--color);
  border: 1px solid $formFieldBrdColor;
}
