<div class="related-receipt">

  <h2 class="related-receipt__title">Похожие рецепты</h2>
  <ul class="related-receipt__list">
    {% for row in rows %}
      <div{{ row.attributes.addClass('related-receipt__item') }}>
        {{ row.content }}
      </div>
    {% endfor %}

  </ul>
</div>
