<div class="related-advice">

  <h3 class="related-advice__title">Подходящие рецепты</h3>

  <ul class="related-advice__list">
    {% for row in rows %}
      <li{{ row.attributes.addClass('related-advice__item') }}>
        {{ row.content }}
      </li>
    {% endfor %}
  </ul>
</div>
