<figure class="post__media">
  {{ fields.field_img.content }}

</figure>

<header class="post__header">
  <h2 class="post__title">
    {{ fields.title.content }}
  </h2>
  <div class="post__created post-meta">{{ fields.created.content }}</div>
</header>

<div class="post__inner">
  {{ fields.body.content }}
</div>
{{ fields.edit_node.content }}
