.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2.5rem 1.5rem;
  grid-auto-flow: dense;
  transition: all .5s;

  @include media($tablet-portrait) {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }

  .archive & {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    @include media($desktop-maximum) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 312px));
    }
  }

  article {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
