$button-bg-top: #eee;
$button-bg-bottom: #ccc;

%buttonPrimary {
  border: none;
  border-radius: $border-radius;
  background: lighten($brandColor, 8);
  color: #fff !important;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: box-shadow .25s, background-color .25s;
  text-decoration: none;

  &:hover {
    background: lighten($brandColor, 16);
    text-decoration: none !important;
    box-shadow: 0 0 10px rgba(#222, .4);
  }
  &:active,
  &:focus {
    color: inherit;
    box-shadow: inset 0 0 5px rgba($brandColor, .4);
  }
}
@mixin button-white-color {
  color: #fff;
  text-shadow: 1px 1px $button-bg-bottom - 60;
}
.form-submit,
.button--primary {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 0 1.25rem;
  height: $formFieldHeight;
  line-height: $formFieldHeight;
  text-decoration: none;
  cursor: pointer;

  @extend %buttonPrimary;
}
button.button {
  line-height: inherit;
}
.form-actions {
  .button {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}
.button_type_benefit {
  font-size: 1.4rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem;
  background: $redColor;
  letter-spacing: .1em;
  box-shadow: 0 0 10px rgba(darken($redColor, 16), .4);

  &:hover {
    box-shadow: 0 0 16px rgba(darken($redColor, 16), .8);
    background: lighten($redColor, 8);
  }
}
.button_type_action {
  font-size: 1rem;
  background: linear-gradient(lighten($redColor, 8), $redColor);

  &:hover {
    background: linear-gradient(lighten($redColor, 14), darken($redColor, 4));
  }
}
