@import 'main-menu';
@import 'menu--account';
@import 'search-block-form';

.main-header {
  box-shadow: 0 0 8px rgba($brandColor, .2);
  position: relative;
  background: url('../images/main-header.jpeg') 50% 0 no-repeat;

  @media (prefers-color-scheme: dark) {
    background: url('../images/main-header-dark.webp') 50% 0 no-repeat;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media($desktop) {
      margin-bottom: 1rem;
    }
  }

  &__search { //flex: 1 0 100%
    padding: 0 .625rem;
    box-sizing: border-box;

    position: absolute;
    right: 4rem;

    @include media($desktop) {
      position: static;
      padding: 0;
      flex: 0 0 40%;
    }
  }

  &__user {
    display: none;
    visibility: hidden;

    @include media($desktop) {
      display: block;
      visibility: visible;
      margin-left: auto;
    }
  }
}

.main-header__content {
  padding-bottom: .75rem;
  padding-top: .75rem;
  //text-align: center
  @extend %maxWidth;

  @include media($desktop) {
    padding-top: 5rem;
  }
}

.main-header__logo {
  display: inline-block;
  //flex: 1 0 100%

  @include media($desktop) {
    flex: 0 0 auto;
  }
}

.logo {
  text-decoration: none;
  display: block;
  padding: .625rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 2px #fff;
  color: var(--link-color);
  transition: color .2s;

  @media (prefers-color-scheme: dark) {
    text-shadow: none;
  }

  @include media($tablet-portrait) {
    font-size: 2rem;
  }

  &:hover {
    color: lighten($linkColor, 16);
  }
}

.main-header__nav {
  @include media($desktop) {
    grid-column: 1 / -1;
  }
}

.main-header__aside {
  height: 2rem;
  margin-left: auto;
  margin-right: 3rem;
  display: flex;
  align-items: center;

  @include media($phone-big) {
    grid-column: 3 / 6;
  }
  @include media($tablet-portrait) {
    grid-column: 6 / -1;
  }
  @include media($tablet-landscape) {
    height: auto;
    margin-right: 0;
    grid-column: 10 / -1;
  }
}

.logo {
  display: block;
  font-style: italic;

  @include media($phone-big) {
    width: auto;
  }
}
