.main-menu {
  &__content {
    display: none;
    visibility: hidden;

    position: absolute;
    top: 4.3rem;
    left: 0;
    right: 0;
    background: var(--bg-color);
    z-index: 100;
    box-shadow: 0 0 10px var(--border-color);

    &.opened {
      display: block;
      visibility: visible;
    }

    @include media($desktop) {
      display: block;
      visibility: visible;
      position: inherit;
      background: none;
      box-shadow: none;
    }
  }
  &__handle {
    position: absolute;
    width: 3rem;
    height: 3rem;
    font-size: 0;
    right: 1rem;
    top: .6rem;
    border-radius: $border-radius;
    background: $colorPrimary inline-svg('menu', #fff) 50% no-repeat;

    @include media($desktop) {
      visibility: hidden;
      display: none;
    }
  }
}
