.menu--account {
  .menu {
    display: flex;
  }

  .menu-item {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  a {
    display: block;
    width: 2rem;
    height: 2rem;
    font-size: 0;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 2rem;
    }

    &:hover {
      border-color: $colorPrimary;
    }
  }

  [data-drupal-link-system-path='user/logout'] {
    &::before {
      background: inline-svg("close", $colorPrimary) 50% no-repeat;
      background-size: 1.5rem;
    }
  }

  [data-drupal-link-system-path='node/add/recept'] {
    &::before {
      background: inline-svg("plus", $colorPrimary) 50% no-repeat;
      background-size: 1.5rem;
    }
  }

  [data-drupal-link-system-path='user/login'],
  [data-drupal-link-system-path='user'] {
    &::before {
      background: inline-svg("user", $colorPrimary) 50% no-repeat;
      background-size: 1.5rem;
    }
  }
}
