$menuBg: $colorPrimary;

.modal-menu {
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 0 50%;
    @include media($desktop) {
      flex: auto;
    }
  }

  @include media($desktop) {
    padding-top: .75rem;
    justify-content: space-between;
    background: rgba(#fff, .5);

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(90deg, rgba($menuBg, 0) 0%, rgba($menuBg, .3) 25%, rgba($menuBg, .3) 75%, rgba($menuBg, 0) 100%);
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: $p-color-brown;

    @include media($desktop) {
      padding: .5rem;
      text-align: center;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .current-menu-item {
    a {
      background: $colorPrimary;
      color: $white;
      border-radius: $border-radius;
    }
  }
}
