.search-block-form {
  form {
    display: flex;
    position: relative;

    .form-item {
      margin-bottom: 0;
      flex-grow: 1;
    }
  }

  .form-search {
    background: #fff inline-svg('search', $colorPrimary) 10px 50% no-repeat;
    width: 20px;
    padding-left: 30px;

    @include media($desktop) {
      padding-left: $formFieldPdgHorizontal;
      width: 100%;
      background: rgba($white, .7);
    }

    &:focus {
      padding-left: 35px;
      width: 100%;

      @include media($desktop) {
        width: 100%;
        padding-left: $formFieldPdgHorizontal;
        background: rgba($white, .9);
      }
    }
  }

  .form-submit {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    font-size: 0;
    right: .25rem;
    top: .25rem;
    background: $colorPrimary inline-svg('search', #fff) 50% no-repeat;
    background-size: 1.625rem;

    display: none;
    visibility: hidden;

    @include media($desktop) {
      display: block;
      visibility: visible;
    }
    //$p-color-orange
  }
}
