<header class="page__header" id="site-header" role="banner">
  <div class="main-header">
    <div class="main-header__content">

      <div class="main-header__top">
        <div class="main-header__logo">
          <a href="/" class="logo">Вилки в руки</a>
        </div>
        {{ page.search }}
        {{ page.header }}

      </div>


      {{ page.primary_menu }}
    </div>
  </div>
</header>

{# {{ page.secondary_menu }} #}
{# {{ page.header }} #}

{# page__body #}
<section {{ main_layout_attributes }}>
  <main class="page__body-main" role="main">
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}

    {% if page.featured_top %}
      <div class="featured-top">
        <aside class="featured-top__inner section layout-container clearfix" role="complementary">
          {{ page.featured_top }}
        </aside>
      </div>
    {% endif %}
    {{ page.breadcrumb }}

    {% if not is_front %}
    {% endif %}
    {{ page.page_title }}

    {{ page.content }}
    {{ page.page_bottom }}

    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="layout-container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
  </main>


  {% if page.sidebar_first %}
    <div id="sidebar-first" class="column sidebar">
      <aside class="section" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    </div>
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="page__sidebar page__sidebar_second" role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

</section>


<footer class="main-footer" role="contentinfo">

  <div class="main-footer__copyright">
    2011—{{ 'now' | date('Y') }} Вилкивруки.
  </div>

  <div class="main-footer__social">
    <ul class="menu--social">
      <li class="menu-item">
        <a class="menu-link menu-link_vk" href="https://vk.com/vilkivruki" target="_blank">VK</a>
      </li>

      <li class="menu-item">
        <a class="menu-link menu-link_instagram" href="https://vk.com/vilkivruki" target="_blank">VK</a>
      </li>

      <li class="menu-item">
        <a class="menu-link menu-link_zen" href="https://vk.com/vilkivruki" target="_blank">VK</a>
      </li>
    </ul>
  </div>

  <div class="main-footer__contacts">
    <div class="jd">
      <img alt="JoomDesign" width="60" height="48" src="{{ base_path ~ directory }}/build/images/jd.svg">
      <p>Дизайн и создание сайта:<br><a title="Создание и продвижение сайтов в Казани" href="https://joomdesign.ru">веб-студия
          JoomDesign</a></p>
    </div>
  </div>
</footer>
