html {
  --bg-color: #fff;
  --color: #222;
  --inverse-color: #fff;
  --header-color: #222;
  --link-color: #1565C0;
  --link-secondary-color: #5b9024;
  --link-menu-color: #604900;
  --border-color: #ECEFF1;
  --highlight-primary-color: #FFF9C4;
  --lines-color: #f4f8ff;
  --iframe-filter: none
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #212121;
    --color: #EEEEEE;
    --inverse-color: #212121;
    --link-color: #F5F5F5;
    --link-secondary-color: #F5F5F5;
    --link-menu-color: #FAFAFA;
    --border-color: #616161;
    --header-color: #FAFAFA;
    --highlight-primary-color: #616161
  }
}

body {
  background: var(--bg-color);
  color: var(--color);
  font: 18px/22px Arial, sans-serif;
}

p, ul, ol {
  margin: 0 0 1rem 0;
  padding: 0 0 .5rem;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: .25rem;
  padding-left: 2.25rem;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--link-color);
  left: .625rem;
  top: .5rem;
  border-radius: 50%;
}

ol {
  counter-reset: list;
  list-style: none;
}

ol li {
  padding-left: 2.25rem;
  position: relative;
}

ol li:not(:last-child) {
  margin-bottom: 1rem;
}

ol li::before {
  counter-increment: list;
  content: counter(list);
  width: 1.75rem;
  line-height: 1.75rem;
  position: absolute;
  left: 0;
  background: var(--highlight-primary-color);
  border-radius: 50%;
  text-align: center;
  top: -.15rem;
}

a {
  color: var(--link-color);
}
