.messages {
  padding: .75rem 1rem .75rem 3rem;
  margin-bottom: .5rem;
  position: relative;
  border-radius: $border-radius;
  font-size: 1rem;
  line-height: 1.25rem;

  &::before {
    content: '';
    position: absolute;
    left: .75rem;
    top: .625rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &.error {
    border-bottom: 2px solid $colorDeepOrange500;
    background-color: $colorDeepOrange100;

    &::before {
      background-image: inline-svg("alert", $colorDeepOrange700);
    }
  }

  &.status {
    border-bottom: 2px solid $colorGreen500;
    background-color: $colorGreen100;

    &::before {
      background-image: inline-svg("info", $colorGreen700);
    }
  }

  ul {
    margin: 0 0 0 1.5rem;
    list-style: none;

    li {
      list-style: disc;

      &:not(:last-child) {
        margin-bottom: .25rem;
      }
    }
  }
}
