<!DOCTYPE html>
<html{{ html_attributes.addClass('document') }}>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
      <js-placeholder token="{{ placeholder_token|raw }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="HandheldFriendly" content="true"/>
        <meta name="apple-touch-fullscreen" content="YES"/>
        <meta name="yandex-verification" content="6e8787187deb48a9" />

        <link rel="apple-touch-icon" sizes="57x57"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180"
              href="/{{ base_path ~ directory }}/build/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
              href="/{{ base_path ~ directory }}/build/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
              href="/{{ base_path ~ directory }}/build/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96"
              href="/{{ base_path ~ directory }}/build/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16"
              href="/{{ base_path ~ directory }}/build/images/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#5b9024">
        </head>
<body{{ attributes.addClass('document__body page') }}>

{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(9932392, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/9932392" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <!--GoogleAnalytics-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36006583-5', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

  </script>
</body>
</html>

