@import "menu--social";

.main-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--border-color);
  border-top: 1px solid $borderColorDark;
  align-items: center;

  @extend %grid;
}

.main-footer__copyright {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  grid-column: 1/-1;

  p {
    &:not(:last-child) {
      margin-bottom: .125rem;
    }
  }

  @include media($tablet-portrait) {
    text-align: left;
  }
  @include media($tablet-landscape) {
    grid-column: 1/5;
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 1rem;
  grid-column: 1/-1;

  @include media($tablet-portrait);

  @include media($tablet-landscape) {
    margin-bottom: 0;
    grid-column: 5/9;
  }
}

.main-footer__contacts {
  text-align: center;
  grid-column: 1/-1;

  @include media($tablet-portrait) {
    text-align: left;
  }
  @include media($tablet-landscape) {
    grid-column: 9/-1;
  }

  .jd {
    display: flex;
    justify-content: center;
    @extend %small-text;

    img {
      margin-right: .5rem;
    }
  }
}
