.menu--social {
  display: flex;
  justify-content: center;

  @include media($desktop);

  .menu-item {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  .menu-link {
    font-size: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: $colorPrimary;
    display: block;
    border-radius: 50%;
    transition: background-color .2s;

    &:hover {
      background: lighten($colorPrimary, 8);
    }

    &::before {
      content: '';
      display: block;
      width: 2.5rem;
      height: 2.5rem;
    }

    &_vk {
      &::before {
        background: inline-svg('vk', #fff) 50% no-repeat;
        background-size: 1.5rem;
      }
    }

    &_instagram {
      &::before {
        background: inline-svg('instagram', #fff) 50% no-repeat;
        background-size: 1.5rem;
      }
    }

    &_zen {
      &::before {
        background: inline-svg('zen', #fff) 50% no-repeat;
        background-size: 1.5rem;
      }
    }
  }
}
