.view-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.views-drafts-recept {
  .views-table {
    width: 100%;

    th, td {
      vertical-align: middle;
      text-align: left;
      padding: 1rem;
      border-bottom: 1px solid var(--border-color);
    }

    .views-field-field-img {
      width: 80px;

      a {
        display: block;
      }
    }

    .views-field-created, .views-field-edit-node {
      width: 100px;
    }

    .views-field-edit-node {
      text-align: right;
    }
  }
}
