.form-item {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.1rem;
    color: $checkboxChecked;
    margin-top: .5rem;
  }
}

.form-select,
.form-text,
.form-search,
.form-textarea {
  position: relative;
  outline: none;
  box-sizing: border-box !important;
  width: 100%;
  min-width: 0;
  height: $formFieldHeight;
  margin: 0;
  padding: 0 $formFieldPdgHorizontal;
  font-family: inherit;
  font-size: $formFieldTextSize;
  border-radius: $border-radius;
  background: var(--bg-color);
  color: var(--color);
  border: 1px solid $formFieldBrdColor;
  transition: all .2s;

  &:focus {
    box-shadow: 0 0 8px rgba($formFieldBrdHoverColor, .4);
    border-color: $formFieldBrdHoverColor;
  }

  @include placeholder {
    opacity: 1;
    font-size: 1rem;
    color: $colorGray;
  }

  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="search"],
  &[type="password"] {
    -webkit-appearance: none;
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  &[disabled] {
    cursor: default;
  }

  &[type="reset"]::-moz-focus-inner,
  &[type="button"]::-moz-focus-inner,
  &[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &::-ms-clear {
    display: none;
  }

  &::-ms-reveal {
    width: 0;
    height: 0;
  }
}

.form-textarea {
  height: auto;
}

.form-type-textfield,
.form-type-password,
.form-type-search {
  > label {
    margin-bottom: .25rem;
    display: inline-block;
  }
}

.form-required {
  &::after {
    content: '*';
    margin-left: .25rem;
    color: $notifyWarningBgDarker;
  }
}
