html {
  --bg-color: #fff;
  --color: #{$base-font-color};
  --inverse-color: #fff;
  --header-color: #{$base-font-color};
  --link-color: #{$linkColor};
  --link-secondary-color: #{$colorPrimary};
  --link-menu-color: #{$p-color-brown};
  --border-color: #{$borderColor};
  --highlight-primary-color: #{$notifyMessageBgLight};
  --lines-color: #f4f8ff;
  --iframe-filter: none;

  @media (prefers-color-scheme: dark) {
    --bg-color: #{$colorGrey900};
    --color: #{$colorGrey200};
    --inverse-color: #{$colorGrey900};
    --link-color: #{$colorGrey100};
    --link-secondary-color: #{$colorGrey100};
    --link-menu-color: #{$colorGrey50};
    --border-color: #{$colorGrey700};
    --header-color: #{$colorGrey50};
    --highlight-primary-color: #{$colorGrey700};
  }
}
