$baseFontSize: 16px;
$mediumFontSize: 14px;
$smallFontSize: 12px;

$colorPrimary: #5b9024; // #229954
$p-color-primary-light: lighten($colorPrimary, 8); // #28b463


$base-font-color: #222;
$colorGray: #777;
$color-gray-dark: #444;

$brand-primary-color: #546E7A; // #8ead57
$brand-primary-color-darken: #4e6837;

$button-bg-primary: #c16378;
$button-bg-light: #c5b37c;
//#634851 //#535b85

//$border-color: #d6d5da

$pink-light: #efddde;

$col: 72px;


$p-color-gray-light: #f8f8f8;

$p-color-blue: #245b90; //#003CFF
$p-color-purple: #90245b;


$p-color-lighten: #daf7a6;
$p-color-orange: #ffc300;
$p-color-orange-dark: #F39C12;
$p-color-red: #ff5733;

$p-color-orange-shadow: #efbb10;

$p-color-brown-light: #9F7A00;
$p-color-brown: #604900;

$p-color-beige: #f5f5dc;




//////
$colorBlack: #000;
$colorWhite: #fff;

$colorGreen50 : #E8F5E9;
$colorGreen100: #C8E6C9;
$colorGreen200: #A5D6A7;
$colorGreen300: #81C784;
$colorGreen400: #66BB6A;
$colorGreen500: #4CAF50;
$colorGreen600: #43A047;
$colorGreen700: #388E3C;
$colorGreen800: #2E7D32;
$colorGreen900: #1B5E20;

$colorLightGreen50: #F1F8E9;
$colorLightGreen100: #DCEDC8;
$colorLightGreen200: #C5E1A5;
$colorLightGreen300: #AED581;
$colorLightGreen400: #9CCC65;
$colorLightGreen500: #8BC34A;
$colorLightGreen600: #7CB342;
$colorLightGreen700: #689F38;
$colorLightGreen800: #558B2F;
$colorLightGreen900: #33691E;

$colorLime50: #F9FBE7;
$colorLime100: #F0F4C3;
$colorLime200: #E6EE9C;
$colorLime300: #DCE775;
$colorLime400: #D4E157;
$colorLime500: #CDDC39;
$colorLime600: #C0CA33;
$colorLime700: #AFB42B;
$colorLime800: #9E9D24;
$colorLime900: #827717;


$colorYellow50 : #FFFDE7;
$colorYellow100: #FFF9C4;
$colorYellow200: #FFF59D;
$colorYellow300: #FFF176;
$colorYellow400: #FFEE58;
$colorYellow500: #FFEB3B;
$colorYellow600: #FDD835;
$colorYellow700: #FBC02D;
$colorYellow800: #F9A825;
$colorYellow900: #F57F17;

$colorAmber50 : #FFF8E1;
$colorAmber100: #FFECB3;
$colorAmber200: #FFE082;
$colorAmber300: #FFD54F;
$colorAmber400: #FFCA28;
$colorAmber500: #FFC107;
$colorAmber600: #FFB300;
$colorAmber700: #FFA000;
$colorAmber800: #FF8F00;
$colorAmber900: #FF6F00;

$colorOrange50: #FFF3E0;
$colorOrange100: #FFE0B2;
$colorOrange200: #FFCC80;
$colorOrange300: #FFB74D;
$colorOrange400: #FFA726;
$colorOrange500: #FF9800;
$colorOrange600: #FB8C00;
$colorOrange700: #F57C00;
$colorOrange800: #EF6C00;
$colorOrange900: #E65100;

$colorDeepOrange50: #FBE9E7;
$colorDeepOrange100: #FFCCBC;
$colorDeepOrange200: #FFAB91;
$colorDeepOrange300: #FF8A65;
$colorDeepOrange400: #FF7043;
$colorDeepOrange500: #FF5722;
$colorDeepOrange600: #F4511E;
$colorDeepOrange700: #E64A19;
$colorDeepOrange800: #D84315;
$colorDeepOrange900: #BF360C;

$colorBrown50: #EFEBE9;
$colorBrown100: #D7CCC8;
$colorBrown200: #BCAAA4;
$colorBrown300: #A1887F;
$colorBrown400: #8D6E63;
$colorBrown500: #795548;
$colorBrown600: #6D4C41;
$colorBrown700: #5D4037;
$colorBrown800: #4E342E;
$colorBrown900: #3E2723;

$colorGrey50: #FAFAFA;
$colorGrey100: #F5F5F5;
$colorGrey200: #EEEEEE;
$colorGrey300: #E0E0E0;
$colorGrey400: #BDBDBD;
$colorGrey500: #9E9E9E;
$colorGrey600: #757575;
$colorGrey700: #616161;
$colorGrey800: #424242;
$colorGrey900: #212121;

$colorBlueGrey50: #ECEFF1;
$colorBlueGrey100: #CFD8DC;
$colorBlueGrey200: #B0BEC5;
$colorBlueGrey300: #90A4AE;
$colorBlueGrey400: #78909C;
$colorBlueGrey500: #607D8B;
$colorBlueGrey600: #546E7A;
$colorBlueGrey700: #455A64;
$colorBlueGrey800: #37474F;
$colorBlueGrey900: #263238;

$colorRed50: #FFEBEE;
$colorRed100: #FFCDD2;
$colorRed200: #EF9A9A;
$colorRed300: #E57373;
$colorRed400: #EF5350;
$colorRed500: #F44336;
$colorRed600: #E53935;
$colorRed700: #D32F2F;
$colorRed800: #C62828;
$colorRed900: #B71C1C;

$colorPink50: #FCE4EC;
$colorPink100: #F8BBD0;
$colorPink200: #F48FB1;
$colorPink300: #F06292;
$colorPink400: #EC407A;
$colorPink500: #E91E63;
$colorPink600: #D81B60;
$colorPink700: #C2185B;
$colorPink800: #AD1457;
$colorPink900: #880E4F;

$colorPurple50: #F3E5F5;
$colorPurple100: #E1BEE7;
$colorPurple200: #CE93D8;
$colorPurple300: #BA68C8;
$colorPurple400: #AB47BC;
$colorPurple500: #9C27B0;
$colorPurple600: #8E24AA;
$colorPurple700: #7B1FA2;
$colorPurple800: #6A1B9A;
$colorPurple900: #4A148C;

$colorDeepPurple50: #EDE7F6;
$colorDeepPurple100: #D1C4E9;
$colorDeepPurple200: #B39DDB;
$colorDeepPurple300: #9575CD;
$colorDeepPurple400: #7E57C2;
$colorDeepPurple500: #673AB7;
$colorDeepPurple600: #5E35B1;
$colorDeepPurple700: #512DA8;
$colorDeepPurple800: #4527A0;
$colorDeepPurple900: #311B92;


//Indigo
$colorIndigo50: #E8EAF6;
$colorIndigo100: #C5CAE9;
$colorIndigo200: #9FA8DA;
$colorIndigo300: #7986CB;
$colorIndigo400: #5C6BC0;
$colorIndigo500: #3F51B5;
$colorIndigo600: #3949AB;
$colorIndigo700: #303F9F;
$colorIndigo800: #283593;
$colorIndigo900: #1A237E;

//Blue
$colorBlue50: #E3F2FD;
$colorBlue100: #BBDEFB;
$colorBlue200: #90CAF9;
$colorBlue300: #64B5F6;
$colorBlue400: #42A5F5;
$colorBlue500: #2196F3;
$colorBlue600: #1E88E5;
$colorBlue700: #1976D2;
$colorBlue800: #1565C0;
$colorBlue900: #0D47A1;

//Light Blue
$colorLightBlue50: #E1F5FE;
$colorLightBlue100: #B3E5FC;
$colorLightBlue200: #81D4FA;
$colorLightBlue300: #4FC3F7;
$colorLightBlue400: #29B6F6;
$colorLightBlue500: #03A9F4;
$colorLightBlue600: #039BE5;
$colorLightBlue700: #0288D1;
$colorLightBlue800: #0277BD;
$colorLightBlue900: #01579B;

//Cyan
$colorCyan50: #E0F7FA;
$colorCyan100: #B2EBF2;
$colorCyan200: #80DEEA;
$colorCyan300: #4DD0E1;
$colorCyan400: #26C6DA;
$colorCyan500: #00BCD4;
$colorCyan600: #00ACC1;
$colorCyan700: #0097A7;
$colorCyan800: #00838F;
$colorCyan900: #006064;

//Teal
$colorTeal50: #E0F2F1;
$colorTeal100: #B2DFDB;
$colorTeal200: #80CBC4;
$colorTeal300: #4DB6AC;
$colorTeal400: #26A69A;
$colorTeal500: #009688;
$colorTeal600: #00897B;
$colorTeal700: #00796B;
$colorTeal800: #00695C;
$colorTeal900: #004D40;



$formFieldHeight: 3rem;

$formFieldTextSize: 1.25rem;
$formFieldPdgVertical: 10px;
$formFieldPdgHorizontal: 16px;

$formFieldBrdSize: 2px;
$formFieldBrdColor: $colorBlueGrey200;
$formFieldBrdHoverColor: $colorBlueGrey500;
$formFieldDescriptionColor: $colorBlueGrey600; //$colorGrey500

$formFieldFocus: $colorBlueGrey500;

$formFieldDisabledColor: lighten($colorBlueGrey500, 8);

$checkboxSize: 1.25rem;
$checkboxPaddingLeft: 1rem;
$checkboxChecked: $colorBlueGrey400;
$radioCheckedSize: .5rem;

$formFieldGapVertical: 1.5rem;

$formFieldLabelWidth: 140px;
$formFieldLabelColor: $colorBlueGrey900;
$formFieldColor: $colorBlack;


$brandColor: #264b75;

$greenColor: #218542;
$redColor: #c5242b;

$primaryColor: #827717;

$mColorRed:         #B71C1C;
$mColorPink:        #880E4F;
$mColorPurple:      #4A148C;
$mColorDeepPurple:  #311B92;

$mColorIndigo:      #1A237E;
$mColorBlue:        #0D47A1;
$mColorLightBlue:   #01579B;
$mColorCyan:        #006064;

$mColorTeal:        #004D40;
$mColorGreen:       #1B5E20;
$mColorLightGreen:  #33691E;
$mColorLime:        #827717;

$mColorYellow:      #F57F17;
$mColorAmber:       #FF6F00;
$mColorOrange:      #E65100;
$mColorDeepOrange:  #BF360C;

$mColorBrown:       #3E2723;
$mColorGrey:        #212121;
$mColorBlueGrey:    #263238;

//@for $i from 0 to 10
//  div.primary-color-amber-#{$i}
//    background: mColor($mColorAmber, $i*10)

$linkColor: $colorBlue800; //#427bfd
$colorGray: #999;
$colorGrayLight: lighten($colorGray, 32);

$buttonPrimaryBg: $linkColor;

//$brandColor: $linkColor



$thCaptionBg: $colorBlueGrey100;

$black: #000;
$white: #fff;

$clrInputFocus: $linkColor;

$notifyErrorBg: lighten($mColorRed, 8);


$notifyHelpBg: $colorBlue100;
$notifyHelpBgDark: $colorBlue200;
$notifyHelpBgDarker: $colorBlue400;

$notifyMessageBgLight: $colorYellow100;
$notifyMessageBg: $colorYellow200;
$notifyMessageBgDark: $colorYellow300;


$notifyWarningBg: $colorRed100;
$notifyWarningBgDark: $colorRed200;
$notifyWarningBgDarker: $colorRed400;


$notifyStatusBg: $colorGreen100;
$notifyStatusBgDark: $colorGreen200;
$notifyStatusBgDarker: $colorGreen400;

$borderColorLight: $colorBlueGrey100;
$borderColor: $colorBlueGrey50;
$borderColorDark: $colorBlueGrey200;
