$gapHorizontal: 24px;

$gapSm: 16px;
$gapLg: 24px;

$gridCellPortrait: 64px;
$gridCellLandscape: 72px;
$gridCell: 88px;

$mainWidth: ($gridCell * 12) + ($gapLg*11);

.max-width,
%maxWidth {
  @include media($tablet-landscape) {
    margin-left: auto;
    margin-right: auto;
    max-width: (12 * $gridCellPortrait) + (11 * $gapSm);
  }
  @include media($desktop) {
    max-width: (12 * $gridCellLandscape) + (11 * $gapLg);
  }
  @include media($desktop-maximum) {
    max-width: (12 * $gridCell) + (11 * $gapLg);
  }
}

$grLgSize: 96px;

.grid,
%grid {
  width: auto;
  position: relative;
  padding-left: $gapSm;
  padding-right: $gapSm;
  box-sizing: border-box;

  @include media($phone-big) {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: $gapSm;
  }
  @include media($tablet-landscape) {
    grid-column-gap: $gapSm;
    grid-template-columns: repeat(12, minmax(40px, $gridCellPortrait));
    padding-left: 0;
    padding-right: 0;
  }
  @include media($desktop) {
    grid-column-gap: $gapLg;
    grid-template-columns: repeat(12, minmax(40px, $gridCellLandscape));
  }
  @include media($desktop-maximum) {
    grid-template-columns: repeat(12, minmax(40px, $gridCell));
  }
}
