h1,
h2,
h3,
h4 {
  color: var(--header-color);
}

%headingH1 {
  font: 700 1.5rem/1.75rem $primaryFont;
  letter-spacing: .01em;

  @include media($tablet-portrait) {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  @include media($desktop) {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

%headingH2 {
  font: bold 1.625rem/2rem $primaryFont;

  @include media($tablet-portrait) {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  @include media($desktop) {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

%headingH3 {
  font: 1.75rem/2rem $primaryFont;
  font-weight: bold;
}

%headingH4 {
  font: 1.4rem/1.8rem $secondaryFont;
}

%small-text {
  font-size: 1rem;
}

%info-text {
  font-size: 13px;
  line-height: 16px;
  color: lighten($base-font-color, 24);
}

%decoratingHeader {
  display: inline-block;
  position: relative;
  text-shadow: 4px 4px #fff;
  margin-bottom: 1.25rem;

  @media (prefers-color-scheme: dark) {
    text-shadow: none;
  }

  &::after {
    content: '';
    top: 50%;
    right: -.25em;
    left: .5em;
    bottom: 0;
    position: absolute;
    background: var(--highlight-primary-color);
    z-index: -1;
  }
}
