$tabsBorder: $borderColorDark;

nav.tabs {
  margin-bottom: 1rem;
  padding-left: .5rem;
  border-bottom: 1px solid $tabsBorder;
}
ul.tabs {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;

  li {
    border-bottom: 0;

    &:not(:last-child) {
      margin-right: .1rem;
  }
    &.is-active {
      a {
        background: var(--bg-color);
        border-color: $tabsBorder;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          width: 100%;
          bottom: -2px;
          height: 2px;
          background: var(--bg-color);
      }
    }
  }
}
  a {
    border-radius: $border-radius $border-radius 0 0;
    border: 1px solid transparent;
    display: block;
    padding: .3rem .75rem;
    transition: background-color .2s;
    @extend %small-text;

    &:hover {
      text-decoration: none;
      background: lighten($tabsBorder, 20);
  }
}
}
