.node-recept-form,
.node-recept-edit-form {
  $marginBtm: 2rem;

  padding: 2rem;
  box-shadow: 0 0 20px $borderColorDark;
  border-radius: $border-radius*2;

  display: flex;
  flex-wrap: wrap;

  //.fieldset-legend
  //  @extend %headingH3

  #edit-title-wrapper {
    flex: 1 0 100%;
    margin-bottom: $marginBtm;
  }

  #edit-field-img-wrapper {
    flex: 0 0 50%;
    margin-bottom: $marginBtm;
  }

  #edit-field-kategoriya-wrapper {
    flex: 0 0 50%;
    margin-bottom: $marginBtm;
  }

  #edit-field-rec-ingredients-wrapper {
    flex: 0 0 50%;
    margin-bottom: $marginBtm;
  }

  #edit-field-osnovnoy-ingredient-wrapper {
    flex: 0 0 50%;
    margin-bottom: $marginBtm;
    padding-left: 1rem;
    box-sizing: border-box;

    .form-checkboxes {
      display: flex;
      flex-wrap: wrap;
    }

    .form-item {
      padding: .625rem;
      border-radius: $border-radius;
      border: 1px solid var(--border-color);
      margin: 0 .5rem .5rem 0;
    }
  }

  #edit-body-wrapper {
    flex: 1 0 100%;
  }

  .js-form-type-vertical-tabs {
    flex: 1 0 100%;
  }

  .details-wrapper {
    padding: 1rem;
  }

  .entity-content-form-footer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    padding: 0 .5rem;
  }

  .image-widget-data {
    .form-file {
      display: block;
      width: 100%;
      padding: 1.5rem;
      border: 1px dashed $borderColorDark;
      border-radius: $border-radius;
      margin-bottom: .5rem;
    }
  }
}
