.archive-header {
  &__title {
    @extend %headingH1;
    @extend %decoratingHeader;
  }

  &__inner {
    .post-type-archive-receipt & {
      display: flex;
      align-items: baseline;
      margin-bottom: 1rem;

      .top-content {
        margin-left: auto;
      }
    }
  }
}
