@mixin media($media) {
  @media #{$media} {
    @content;
  }
}

@mixin placeholder() {
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
