.dialog-off-canvas-main-canvas {
  display: grid;
  grid-template-areas: 'header' 'body' 'footer';
  overflow-x: hidden;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  margin: auto;
  row-gap: 1rem;

  @include media($tablet-portrait) {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    row-gap: 1.5rem;
  }
  @include media($tablet-landscape) {
    min-height: 100%;
  }
  @include media($desktop) {
    row-gap: 2rem;
  }
}

.page {
  &.one-sidebar {
    &.sidebar-first {
      .page__body-sidebar {
        grid-column: 1/-1;

        @include media($tablet-landscape) {
          grid-column: 1 / span 3;
          grid-row: 1;
        }
      }

      .page__body-main {
        grid-column: 1/-1;

        @include media($tablet-landscape) {
          grid-column: 4/-1;
        }
      }
    }
  }

  &.page_no-sidebars {
    .page__body-main {
      grid-column: 1/-1;
    }
  }
}

.page__header {
  grid-area: header;
}

.page__body {
  grid-area: body;
  @extend %grid;

  &--no-sidebars {
    .page__body-main {
      grid-column: 1/-1;
    }
  }

  &--sidebar-second {
    .page__body-main {
      grid-column: 1/-1;

      @include media($tablet-landscape) {
        grid-column: 1/-4;
      }
    }

    .page__sidebar_second {
      grid-column: 1/-1;

      @include media($tablet-landscape) {
        grid-column: 10/-1;
      }
    }
  }
}

.page__title {
  grid-area: title;
  margin-bottom: 1.5rem;
}

.page__footer {
  grid-area: footer;
}

.page-node {
  .page-title {
  }
}

.page.front {
  width: auto;
  position: relative;
  grid-gap: 0;

  .page__body {
    max-width: 100%;
    display: block;
  }
}
